export FCREPO_USER="fcrepoUser"
export FCREPO_PASSWORD="fcrepoPass"
export FCREPO_URL="fcrepo:8984/rest"
export FCREPO_PATH="/dbd_dev"

export SOLR_PATH="solr:8983"

export MYSQL_HOST="mysql"
export MYSQL_DB="dbd_dev"
export MYSQL_USER="dbd"
export MYSQL_PASSWORD="mysqlPass"
